/* Start global */

:root {
    --main-color: #1F273D;
    --sec-color: #1F6E8C;
    --text-color: #FFFFFF;
    --sec-text-color: #F9F49E;
    --heading-font-size: 30px;
    --main-padding: 20px;
    --main-margin-top: 70px;
    --transition-duration: 0.3s;
    --text-font-size: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
 }

body {
    font-family: 'Fredoka', sans-serif;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: var(--text-font-size);
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

ul {
    list-style: none;
}

.main-padding {
    padding: 20px 100px 20px 100px;
}

.section {
    margin-top: 200px;
}

.section-heading {  
    text-align: center;
    font-size: 50px;
    color: var(--sec-text-color);
}

.section-info {
    margin-top: 100px;
}

.color-yellow {
    color: var(--sec-text-color);
}

/* End global */

/* Start navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sec-color);
}

nav .logo {
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

nav ul {
    display: flex;
    gap: 30px;
    color: white;
}

nav ul li a {
    transition: var(--transition-duration);
}

nav ul li a:hover {
    color: rgb(205, 205, 205);
}


/* End navbar */

/* Start Portfolio content */
/* Start pfp and name */

.portfolio-content {
    background-color: var(--main-color);
    margin-top: var(--main-margin-top);
}

.portfolio-content .my-info {
    display: flex;
    gap: 30px;
}

.portfolio-content #pfp-image {
    position: relative;
}

.portfolio-content #pfp-image::before {
    content: "";
    position: absolute;
    height: calc(100% + 60px);
    width: 100px;
    background-color: var(--sec-color);
    transform: translateY(-30px);
}

.portfolio-content #pfp-image #pfp {
    position: relative;
    width: 350px;
    z-index: 100;
    margin-left: 10px;
    animation: up-down 1s alternate infinite;
}

/* .portfolio-content .my-info .name-and-socials {

} */

.portfolio-content .my-info h1 {
    color: var(--sec-text-color);
    font-size: 70px;
}

.portfolio-content .my-info p {
    margin-top: 20px;
    max-width: 600px;
    font-size: 30px;
}

.portfolio-content .my-info .socials {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 45px;
}

.portfolio-content .my-info .socials .discord {
    position: relative;
    transition: var(--transition-duration);
    display: inline-block;
}

.portfolio-content .my-info .socials .discord::before {
    content: "";
    position: absolute;
    border-color: var(--sec-text-color) transparent transparent transparent;
    border-width: 12px;
    border-style: solid;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition-duration);
    opacity: 0;
    
}

.portfolio-content .my-info .socials .discord::after {
    content: "Nour#1848";
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    transition: var(--transition-duration);
    opacity: 0;
    
}

.portfolio-content .my-info .socials .discord:hover::before,
.portfolio-content .my-info .socials .discord:hover::after {
    display: block;
    opacity: 1;
}



.portfolio-content .my-info .socials i {
    transition: var(--transition-duration);
}

.portfolio-content .my-info .socials i:hover {
    color: var(--sec-text-color);
}

/* End pfp and name */



/* Start Education */

.portfolio-content .education .education-info {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 30px;
}

.portfolio-content .education #just-pic {
    width: 150px;
}

.portfolio-content .education .edu-text {
    border: 3px solid var(--sec-text-color);
    padding: 20px;
    border-radius: 10px;
    width: 40%;
}

.portfolio-content .education .edu-text .title {
    background-color: #133b4b;
    padding: 5px;
    border-radius: 10px;
}

.portfolio-content .education .edu-text p {
    line-height: 1.5;
}

.portfolio-content .education .edu-text p span {
    color: var(--sec-text-color);
}

.portfolio-content .education .edu-text span {
    align-self: center;
}

.portfolio-content .education .education-info #just-logo {
    width: 100px;
    align-self: center;
}

.portfolio-content .education .edu-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portfolio-content .education a {
    color: var(--sec-text-color);
    text-decoration: underline;
}


/* End Education */

/* Start skills */

.skills .skills-types {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.skills .skills-types .skill {
    border: 5px solid var(--sec-color);
    border-radius: 20px;
    padding: 50px;
    position: relative;
    box-shadow: -2px 5px 72px 2px rgba(249,244,158,0.76);
    width: 30%;
}



.skills .skills-types .skill h3 {
    text-align: center;
    border-bottom: 2px solid var(--sec-color);
}

.skills .skills-types .skill span {
    color: var(--sec-text-color);
}

.skills .skills-types .skills-list {
    margin-top: 50px;
}

.skills .skills-types .skills-list img {
    width: 50px;
}

.skills .skills-types .skills-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skills .skills-types #tech-skills .skills-list li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.skills .skills-types .skills-list li {
    position: relative;
}

.skills .skills-types .skills-list li::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--sec-color);
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
}

.skills .skills-types #tech-skills .skills-list li {
    animation-name: right;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.skills .skills-types .skills-list #css {
    animation-delay: 0.2s;
}

.skills .skills-types .skills-list #javascript {
    animation-delay: 0.4s;
}

.skills .skills-types .skills-list #cplusplus {
    animation-delay: 0.6s;
}

.skills .skills-types .skills-list #sql {
    animation-delay: 0.8s;
}

/* End skills */



/* Start projects */


.projects .projects-cards {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: space-between;
}


.projects .project-card {
    background-color: var(--sec-color);
    text-align: center;
    margin-top: 100px;
    transition: var(--transition-duration);
    display: flex;
    flex-direction: column;
}

.projects .project-card .project-info {
    padding: 15px;
}

.projects .project-card .go-link {
    padding: 10px 8px;
    background-color: black;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
}

.projects .project-card .go-link:active {
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
}

.projects .project-card:hover {
    transform: translateY(-10px);
}

.projects .project-card p {
    margin-top: 10px;
}

.projects .project-card img {
    width: 100%;
    transition: var(--transition-duration);
}

.projects .project-card .bondi {
    background-color: #14376E;
    position: relative;
}

.projects .project-card .bondi img {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projects .project-card .image {
    position: relative;
    padding: 0;
    margin: 0;
    height: 300px;
}

.projects .project-card .image::before {
    content: "";
    position: absolute;
    background-color: rgba(214, 214, 214, 0.144);
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition-duration);
}

.projects .project-card:hover .image::before {
    width: 100%;
    height: 100%;
}


/* End projects */



/* Start languages */

.languages .languages-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.languages .languages-container .language {
    border-radius: 10px;
    padding: 15px;
    border: 5px solid var(--sec-color);
    box-shadow: -2px 5px 72px 2px rgba(249,244,158,0.76);
    width: 20%;
    text-align: center;
}

.languages .languages-container .language span {
    color: var(--sec-text-color);
    border-bottom: 2px solid var(--sec-text-color);
}

.languages .languages-container .language h2 {
    padding: 8px;
}

.languages .languages-container .language li {
    padding: 10px;
}



/* End languages */


/* Start courses */

.courses .courses-boxes {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.courses .courses-boxes img,
.courses .courses-boxes .title {
    width: 200px;
    text-align: center;
}

.courses .courses-boxes .title {
    color: var(--sec-text-color);
}

.courses .courses-boxes .image {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses .courses-boxes .course-box .description {
    position: relative;
}

.courses .courses-boxes .course-box .description::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--sec-text-color);
    top: 0;
    left: -5px;
}

.courses .courses-boxes .course-box {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 4px var(--sec-color) solid;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.courses .courses-boxes .course-box span {
    color: var(--sec-text-color);
}

/* End courses */





/* End Portfolio content */


/* Start Animation */

@keyframes up-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(10px);
    }
}